//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//@import 'sass-bootstrap/lib/bootstrap';

// deckjs stuff
@import 'deck.js/core/deck.core';
@import 'deck.js/themes/transition/fade';
@import 'aloloco';
@import 'deck.js/extensions/hash/deck.hash';
@import 'deck.js-codemirror/deck.codemirror';
@import '../bower_components/deck.js-codemirror/themes/default.css';

.right {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 100px;
}
